<section class="messages">
    <div class="messages-wrapper">
        <header class="messages__header">
            <img class="messages__header-img" src="assets/icon/icon_1.png" alt="icon-chat">
            <svg height="15" width="15" class="messages__header-icon">
                <use href="./assets/sprites.svg#desc-icon"></use>
            </svg>
            <h1 class="messages__header-title">Alice Freeman</h1>
        </header>
        <main class="messages__field">
            <div class="messages__user">
                <img class="messages__user-img" src="assets/icon/icon_1.png" alt="icon-chat">
                <div class="user__desc">
                    <p class="user__desc-text">additionally, a context object can be associated</p>
                    <p class="user__desc-data">4/22/17, 4:10 AM</p>
                </div>
            </div>
        </main>
        <form class="messages__input">
            <div class="messages-block">
                <textarea placeholder="Type you message" class="messages__input-field" ></textarea>
                <button class="messages__input-btn">
                    <svg height="26" width="26">
                        <use href="./assets/sprites.svg#send-icon"></use>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</section>
