:host {
  border-right: 1px solid rgb(0 0 0 / 15%) ;
}
.sidebar {
  height: 100%;
  &__nav {
    padding: 15px;
    border-bottom: 2px solid rgb(0 0 0 / 15%);


    &-name {
      font-size: 25px;
      font-weight: bold;
      margin: 0 20px;
    }
  }

  &-block  {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__search {
    border: none;
    padding: 0;

    &-field {
      width: 100%;
      border: solid 1px #d2d2d2;
      border-radius: 50px;
      display: block;
      outline: none;
      padding: 5px 4px 5px 40px;
      background: #FFF url("data:image/svg+xml,%3Csvg  xmlns='http://www.w3.org/2000/svg' width='14' height='14' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath style='fill:gray' d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    }
  }

  &__chats {
    background: #FFF;

    &-title {
      padding: 15px;
      font-size: 30px;
      font-weight: 500;
      margin: 0;
      color: #219ece;
    }
  }
}

.chats__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.list__item {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  border-bottom: 1px solid rgb(0 0 0 / 15%);
  cursor: pointer;
  &:hover, &:focus {
    outline: none;
    background-color: rgb(245, 245, 245);
  }
}

.list__desc {
  display: flex;
  position: relative;

  &-img {
    width: 45px;
    height: 45px;
  }

  &-icon {
    position: absolute;
    top: 33px;
    left: 33px;
  }

  &-text {
    margin-left: 15px;
    &-title {
      margin: 0 0 5px;
      color: #484848;
    }

    &-subtitle {
      font-size: 14px;
      margin: 0;
      font-weight: 400;
      color: #9f9f9f;
    }
  }
}

.list__item-time {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  color: #706f6f;
}

.active {
  background-color: rgb(245, 245, 245);
}

.list__block {
display: flex;
  flex-direction: column;
  align-items: center;
}

.message-indicator {
  margin-top: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #45849b;

}
