<div class="sidebar">
    <nav class="sidebar__nav">
        <div class="sidebar-block">
            <svg height="50" width="50" class="sidebar__nav-icon">
                <use href="./assets/sprites.svg#icon-user-nav"></use>
            </svg>
            <p class="sidebar__nav-name">User</p>
        </div>
        <div class="sidebar__search">
            <input class="sidebar__search-field" type="search" placeholder="Search or start new chat" [(ngModel)]= "searchName">
        </div>
    </nav>
    <aside class="sidebar__chats">
        <h2 class="sidebar__chats-title">Chats</h2>
        <ul class="chats__list">
            <li class="list__item"
                *ngFor="let dialogue of !searchName ? dialogues :filteredChats  "
                (click)="onClick(dialogue)"
                [ngClass]="{active: dialogue.id === activeState}">
                <div class="list__desc" >
                    <img class="list__desc-img" src="assets/icon/icon_{{dialogue.id}}.png" alt="icon-chat">
                    <svg height="15" width="15" class="list__desc-icon">
                        <use href="./assets/sprites.svg#desc-icon"></use>
                    </svg>
                    <div class="list__desc-text">
                        <p class="list__desc-text-title">{{dialogue.name}}</p>
                        <p class="list__desc-text-subtitle">{{dialogue.prevMessage | slice:0:25}}</p>
                    </div>
                </div>
                <div class="list__block">
                    <p class="list__item-time">{{dialogue.data | date:'mediumDate'}}</p>
                    <span [ngClass]="{'message-indicator': !dialogue.read}"></span>
                </div>
            </li>
        </ul>
    </aside>
</div>

